<!doctype html>
<html lang="en">

<!-- PALETTE
#69AB9B - tealy
#8EC63E - bright green
#68AAC0 - soft pastelish blue
#0892B8 - bolddd blue
#3B7B3A - deeper green
    
<head>
    <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href=".\carousel.css">

<link rel="stylesheet" type="text/css" href=".\custom.css">

<link rel="shortcut icon" type="image/png" href=".\img\favicon.png" />

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#"><img src=.\img\iconunsides.png style="margin-top:-5px; max-width:25px;">Dazzling Green Clean</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <!--
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
-->
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <a class="btn btn-outline-primary my-2 my-sm-0" href="#contactAnchor" role="button">Contact Us</a>
            </form>
        </div>
    </nav>
</header>

<main role="main">

    <div id="topAnchor"></div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-color:#29303a;">
                <img class="bd-placeholder-img" width="100%" src=".\img\cleaning.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" style="opacity: 0.6; width: 100%; height: 100%; object-fit: cover">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Professional Services</h1>
                        <p>We provide residential and commercial cleaning that focuses on you and your satisfaction.</p>
                        <p><a class="btn btn-lg btn-primary" href="#contactAnchor" role="button">Get Started</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-color:#37404f;">
                <img class="bd-placeholder-img" src=".\img\envfriend.jpg" focusable="false" role="img" style="opacity: 0.6; width: 100%; height: 100%; object-fit: cover ">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>The "Green" in Clean</h1>
                        <p>With established, green brands like Norwex, your home is in good hands.</p>
                        <p><a class="btn btn-lg btn-primary" href="#aboutAnchor" role="button">Learn More</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="background-color:#37404f;">
                <img class="bd-placeholder-img" width="100%" height="100%" src=".\img\bathroom.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" style="opacity: 0.6; width: 100%; height: 100%; object-fit: cover">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Less Stress</h1>
                        <p>The first step to relaxation is a clean space. Let us take care of the cleaning so you can get a step ahead.</p>
                        <p><a class="btn btn-lg btn-primary" href="#quoteAnchor" role="button">Get A Quote</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <!-- Marketing messaging and featurettes
  ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div id="aboutAnchor"></div>

    <hr class="featurette-divider" style="border-color:white !important;">

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <i class="fas fa-tasks fa-5x" style="color:#3B7B3A"></i>
                <!--        {% include icons/placeholder.svg width="100%" height="100%" -->
                <h2>The Dazzle</h2>
                <p>We focus on building confident and strong working relationships with our clients. You can trust us to check this one off your to do list.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <i class="fas fa-leaf fa-5x" style="color:#3B7B3A"></i>
                <!--        {% include icons/placeholder.svg width="100%" height="100%" -->
                <h2>The Green</h2>
                <p>Dazzling Green Clean uses Green products and supplies so you don't have to worry to have a great clean. Save the environment and your dusty shelves all at once.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <i class="fas fa-broom fa-5x" style="color:#3B7B3A"></i>
                <!--        {% include icons/placeholder.svg width="100%" height="100%" -->
                <h2>The Clean</h2>
                <p>We go above and beyond to make sure that we clean to your personal satisfaction. Business or home, it doesn't matter, we will make it sparkle!</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <div id="quoteAnchor"></div>
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-12">
                <h2 style="text-align:center" class="featurette-heading">Get a Quote</h2>
            </div>
        </div>
        <div class="row featurette">
            <div class="col-md-12">
                <p class="lead">Let's Start in the Kitchen</p>
            </div>
            <div id="kitchenWarning" class="alert alert-custom" role="alert" style="display:none;">
                This is already a part of the default package... unselecting this will not have an impact on the price, and we'll do it anyway!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div id="kitchenOptions">
            <div class="row featurette">
                <div class="col-md-6">
                    <label class="check-container">Sweeping, Vaccum and Mop Floors &nbsp;
                        <input type="checkbox" checked="checked" value="0" id="Cost1">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="check-container">Dust and Wipe Cabinets &nbsp;
                        <input type="checkbox" checked="checked" value="0" id="Cost2">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="row featurette">
                <div class="col-md-6">
                    <label class="check-container">Wipe Down Appliances &nbsp;
                        <input type="checkbox" checked="checked" value="0" id="Cost3">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="check-container">Clean & Disinfect Countertops &nbsp;
                        <input type="checkbox" checked="checked" value="0" id="Cost4">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="row featurette">
                <div class="col-md-6">
                    <label class="check-container">Scrub Sink and Faucets &nbsp;
                        <input type="checkbox" checked="checked" value="0" id="Cost5">
                        <span class="checkmark"></span>
                    </label>
                </div>

                <div class="col-md-6">
                    <label class="check-container">Kitchen Cabinets - Inside and Out &nbsp;
                        <input type="checkbox" value="35" id="Cost6">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="row featurette">
                <div class="col-md-6">
                    <label class="check-container">Refrigerator Freshening &nbsp;
                        <input type="checkbox" value="35" id="Cost7">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="check-container">Stove/Oven Scouring &nbsp;
                        <input type="checkbox" value="35" id="Cost8">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>

        <br>

        <div class="row featurette">
            <div class="col-md-12">
                <p class="lead">On to the Bathroom!</p>
            </div>
        </div>
        <div id="bathroomWarning" class="alert alert-custom" role="alert" style="display:none;">
            This is already a part of the default package... unselecting this will not have an impact on the price, and we'll do it anyway!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="bathroomOptions">
            <div class="row featurette">
                <div class="col-md-6">
                    <label class="check-container">Scrub Tub, Shower, Toilet and Sink &nbsp;
                        <input type="checkbox" checked="checked" value="0" id="Cost9">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="check-container">Sanitize Countertops and Doors &nbsp;
                        <input type="checkbox" checked="checked" value="0" id="Cost10">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="row featurette">
                <div class="col-md-6">
                    <label class="check-container">Wipe Mirrors &nbsp;
                        <input type="checkbox" checked="checked" value="0" id="Cost11">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="check-container">Sweep. Vacuum and Wash Floors &nbsp;
                        <input type="checkbox" checked="checked" value="0" id="Cost12">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>

        <br>

        <div class="row featurette">
            <div class="col-md-12">
                <p class="lead">Let's Finish Up</p>
            </div>
        </div>
        <div id="finishingWarning" class="alert alert-custom" role="alert" style="display:none;">
            This is already a part of the default package... unselecting this will not have an impact on the price, and we'll do it anyway!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="finishingOptions">
            <div class="row featurette">
                <div class="col-md-6">
                    <label class="check-container">Remove Cobwebs &nbsp;
                        <input type="checkbox" checked="checked" value="0" id="Cost13">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="check-container">Dust Tabletops and Shelves &nbsp;
                        <input type="checkbox" checked="checked" value="0" id="Cost14">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="row featurette">
                <div class="col-md-6">
                    <label class="check-container">Vacuum and Wash Floors and Stairs &nbsp;
                        <input type="checkbox" checked="checked" value="0" id="Cost15">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="check-container">Dust Door Frames and Baseboards &nbsp;
                        <input type="checkbox" checked="checked" value="0" id="Cost16">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="check-container">Dust Wall Hangings, Lights and Accessories &nbsp;
                        <input type="checkbox" checked="checked" value="0" id="Cost16">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-6">
                    <label class="check-container">Empty Wastebaskets &nbsp;
                        <input type="checkbox" checked="checked" value="0" id="Cost17">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>

        <br>

        <div class="row featurette">
            <div class="col-md-12">
                <p class="lead">Where Else Can We Clean?</p>
            </div>
        </div>
        <div id="extraWarning" class="alert alert-custom" role="alert" style="display:none;">
            This is already a part of the default package... unselecting this will not have an impact on the price, and we'll do it anyway!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="extraOptions">
            <div class="row featurette">
                <div class="col-md-6">
                    <label class="check-container">Window Care* &nbsp;
                        <input type="checkbox" value="35" id="Cost18">
                        <span class="checkmark"></span>
                        <!--                        TO DO: ADD DESCRIPTIONS FOR THESE OPTIONS-->
                    </label>
                    <div style="margin-left:40px">
                        <p style="font-size:12px">
                            Care for the whole window. We'll take care of the ledges and molding, blinds, windows and screens. Please note we can't wash the outside of a window unless it opens to clean from the inside.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="check-container">Deep Wall Cleaning* &nbsp;
                        <input type="checkbox" value="70" id="Cost19">
                        <span class="checkmark"></span>
                    </label>
                    <div style="margin-left:40px">
                        <p style="font-size:12px">
                            This includes baseboards, ceiling molding, molding care around windows and door jambs and a good wall wipedown.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="check-container">Furniture Care &nbsp;
                        <input type="checkbox" value="35" id="Cost20">
                        <span class="checkmark"></span>
                    </label>
                    <div style="margin-left:40px">
                        <p style="font-size:12px">
                            Full care for all items on display, deep clean dusting, furniture polish on all wood furniture, glass clean on all glass surfaced furniture, leather furniture cleaned with a provided leather cleaner and a deep cleaning on all upholstered furniture!
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="check-container">Extra Special Dazzling Touch* &nbsp;
                        <input type="checkbox" value="10" id="Cost21">
                        <span class="checkmark"></span>
                    </label>
                    <div style="margin-left:40px">
                        <p style="font-size:12px">
                            Kitty litter cleaning, silver polishing, moving furniture, changing sheets or laundry... anything that needs that extra special touch.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-12">
            <h2 style="text-align:center" class="featurette-heading">*Estimated Total: <label id="finalAmount">$70</label></h2>
            <div id="finalWarning" class="alert alert-custom" role="alert" style="display:none;">
                Hmm... you don't seem to want any services. Why don't you check some off?
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <hr class="featurette-divider">

        <div id="contactAnchor"></div>

        <div class="row featurette">
            <div class="col-md-12">
                <h2 style="text-align:center" class="featurette-heading">Contact Us</h2>
            </div>
        </div>
        <div class="row featurette">
            <div class="offset-10 col-1">
                <a href="https://www.facebook.com/DazzlinGreenClean/" title="Facebook" target="_blank"><i class="fab fa-facebook-square fa-3x" style="color:#69AB9B;"></i></a>
            </div>
        </div>

        <div class="containerContact">

            <?php if(!empty($statusMsg)){ ?>
            <p class="status-msg <?php echo $status; ?>"><?php echo $statusMsg; ?></p>
            <?php } ?>

            <form id="contact-form" method="post" action="contact.php" role="form">

                <div class="messages"></div>

                <div class="row featurette">
                    <label for="fname">Full Name</label>
                    <input type="text" id="fname" name="name" placeholder="First Name" required="required">
                </div>

                <div class="row featurette">

                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" placeholder="someone@test.com" required="required">
                </div>

                <div class="row featurette">

                    <label for="phone">Phone</label>
                    <input type="text" id="phone" name="phone" placeholder="555-555-5555">
                </div>

                <div class="row featurette">

                    <label for="subject">Message</label>
                    <textarea id="message" name="message" placeholder="Write something.." style="height:200px" required="required"></textarea>
                </div>

                <div class="row featurette">

                    <div class="g-recaptcha" data-sitekey="6Le44qIUAAAAAA08CPuAHOH3l-A4HoPu8-0P5Z6P"></div>

                </div>

                <div class="row featurette">
                    <input type="submit" name="submit" value="Submit">
                </div>

                <!--                        TO DO: HOOK UP THE CONTACT US PAGE TO SEND AN EMAIL-->
            </form>
        </div>
        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->


    <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="#topAnchor">Back to top</a></p>
        <p>&copy; 2019-<script>
                document.write(new Date().getFullYear())

            </script> Dazzling Green Clean</p>
        <label id="finePrint" style="font-size:8px">*Estimates are approximations of actual price and are subject to change without notice, or upon live reassesment of the services requested

            Estimated prices are based on averages on the following services;
            Window Care: $5.00 per window
            Deep Wall Cleaning: $35.00 per room approx
            Dazzling Touch: $5-10 per task depending on difficulty
            Actual assessment price may vary.
        </label>
    </footer>
</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src='https://www.google.com/recaptcha/api.js'></script>

<script src="contact.js"></script>

<script>
    $(':checkbox').change(function() {
        var total = 0;
        $(':checkbox:checked').each(function() {
            total = total + parseInt($(this).val());
        });
        if ($(':checkbox:checked').length == 0) {
            $("#finalAmount").text('$ 0'); // Storing the values
            $('#finalWarning').show();
        } else {
            $("#finalAmount").text('$' + (70 + total)); // Storing the values
            $('#finalWarning').hide();
        }
        if ($(this).val() == 0) {
            if ($.contains($('#kitchenOptions').get(0), $(this).get(0))) {
                $('#kitchenWarning').toggle(!this.checked);
            } else if ($.contains($('#bathroomOptions').get(0), $(this).get(0))) {
                $('#bathroomWarning').toggle(!this.checked);
            } else if ($.contains($('#finishingOptions').get(0), $(this).get(0))) {
                $('#finishingWarning').toggle(!this.checked);
            } else if ($.contains($('#extraOptions').get(0), $(this).get(0))) {
                $('#extraWarning').toggle(!this.checked);
            }
        }
    });

    // Select all links with hashes
    $('a[href*="#"]')
        // Remove links that don't actually link to anything
        .not('[href="#"]')
        .not('[href="#0"]')
        .click(function(event) {
            // On-page links
            if (
                location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') &&
                location.hostname == this.hostname
            ) {
                // Figure out element to scroll to
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                // Does a scroll target exist?
                if (target.length) {
                    // Only prevent default if animation is actually gonna happen
                    event.preventDefault();
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000, function() {
                        // Callback after animation
                        // Must change focus!
                        var $target = $(target);
                        $target.focus();
                        if ($target.is(":focus")) { // Checking if the target was focused
                            return false;
                        } else {
                            $target.attr('tabindex', '-1'); // Adding tabindex for elements not focusable
                            $target.focus(); // Set focus again
                        };
                    });
                }
            }
        });

</script>

</html>
