@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --card-color: #18181b;
  --background-color: #18181b;
  --text-color: #fff;
  --clr-3: #0ea5e9;
  --clr-4: #8b5cf6;
  --clr-5: #d946ef;
  --lightblue: #11dff2;
  --pink: #fa59e9;
  --purple: #3f0754;
}

body {
  background: var(--background-color);
  margin: 0;
}

.parallax {
  height: 95vh;

  overflow-x: hidden;
  overflow-y: auto;

  perspective: 1px;
}

.parallax {
  background-image: url("src/assets/neon-dark.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 30px 50px;
}

.nav a {
  text-decoration: none;
  color: var(--lightblue);
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.nav a:hover,
.nav a:hover {
  text-decoration: none;
  color: white;
}

.nav a svg {
  font-size: 1.5rem;
}

.hero {
  width: fit-content;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.hero h1 {
  font-family: "Oxanium", sans-serif !important;
  color: transparent;
  background: linear-gradient(
    to bottom,
    var(--lightblue) 10%,
    white 40%,
    var(--purple) 45%,
    var(--pink) 55%,
    white 85%
  );
  text-align: center;
  background-clip: text;
  font-size: 5rem;
  filter: drop-shadow(3px 3px var(--background-color))
    drop-shadow(1px 1px var(--pink));
}

.hero h3 {
  font-family: "Mr Dafoe", cursive !important;
  background: linear-gradient(to bottom, #11dff2 25%, white 85%);
  color: transparent;
  background-clip: text;
  text-align: center;
  font-size: 3rem;
  z-index: 10;
  transform: rotate(-1deg) translateY(-3.5rem);
  letter-spacing: 0.25rem;
  filter: drop-shadow(3px 3px var(--background-color))
    drop-shadow(1px 1px var(--pink));
}

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }
  .hero h3 {
    transform: rotate(-1deg) translateY(-1.75rem);
    font-size: 1.5rem;
  }
}

.break {
  background: linear-gradient(to bottom, var(--pink), white, var(--pink));
  background-size: 200% auto;
  position: relative;
  width: 100%;
  height: 5px;
  box-shadow: (var(--pink) 0px 0px 10px 2px), (var(--pink) 0px -10px 50px 1px);
}

.content {
  padding: 32px;
}

.neon {
  background-color: var(--card-color);
  position: relative;
}

.neon::after,
.neon::before {
  content: " ";
  position: absolute;
  inset: -0.25rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  border-radius: inherit;
  animation: rotation 10s linear infinite;
}

.neon::after {
  z-index: -1;
  filter: blur(0.5rem);
}

@keyframes linear-neon {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: 91% 100%;
  }
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
