@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --card-color: #18181b;
  --background-color: #18181b;
  --text-color: #fff;
  --clr-3: #0ea5e9;
  --clr-4: #8b5cf6;
  --clr-5: #d946ef;
}

body {
  background: var(--background-color);
  margin: 0;
}

.parallax {
  height: 100vh;

  overflow-x: hidden;
  overflow-y: auto;

  perspective: 1px;
}

.parallax {
  background-image: url("src/assets/neon-dark.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  width: fit-content;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.hero > div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero h1,
.hero h3 {
  font-family: "Oxanium", sans-serif !important;
  color: var(--text-color);
  text-align: center;
  text-shadow: #8b5cf6 0px 0px 10px;
}

.hero h1 {
  font-size: 5rem;
}

.hero h3 {
  font-size: 3rem;
}

.break {
  background: linear-gradient(
    90deg,
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  background-size: 200% auto;
  position: relative;
  width: 100%;
  height: 20px;
  animation: linear-neon 5s ease alternate infinite;
}

.neon {
  background-color: var(--card-color);
  position: relative;
}

.neon::after,
.neon::before {
  content: " ";
  position: absolute;
  inset: -0.25rem;
  z-index: -1;
  background: linear-gradient(
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  border-radius: inherit;
  animation: rotation 10s linear infinite;
}

.neon::after {
  z-index: -1;
  filter: blur(0.5rem);
}

@keyframes linear-neon {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: 91% 100%;
  }
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
